



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Your Razor Page</title>
    <link rel="stylesheet" href="~/css/mystyles.css" asp-append-version="true" />
    <style>

        #panel {
            width: 400px;
            margin: 0 auto;
            padding: 15px 0 0;
            background: #fff;
            border: 1px solid silver;
            font: 16px calibri;
            letter-spacing: -1px;
            -webkit-box-shadow: 0 0 2px silver;
            -moz-box-shadow: 0 0 2px silver;
            box-shadow: 0 0 2px silver;
        }






        #lower {
            background: #ecf2f5;
            width: 100%;
            padding: 5px 20px;
            margin-top: 20px;
        }

    </style>
</head>
<body>
    <div id="panel">
        <form>


            <center><b>An error occurred</b></center>

            <div id="lower">


                <center><b>@ViewData["ErrorMessage"]</b></center>

            </div>
        </form>
    </div>
</body>
</html>





















