

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Your Razor Page</title>
    <link rel="stylesheet" href="/css/style.css" />
    
    <script>

        function PrintQR() {
            var printContents = document.getElementById('QR').innerHTML;
            var originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;

            window.print();

            document.body.innerHTML = originalContents;
        }
    </script>

    


</head>

<body>
    <div id="panel">
        <form>
            <div id="QR">

                <center><img src="@ViewBag.QRCode" style="width: 200px; height: 200px;" class=" QrCode" /></center>

            </div>

            <div id="lower">

                <button onclick="PrintQR()" class="button">Drukuj</button>

            </div>
        </form>





    </div>
</body>
</html>



















